<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Emailer.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Emailer.UI.Properties.Settings>
            <setting name="LocationOfExchangeServer" serializeAs="String">
                <value>https://outlook.nhs.net/EWS/exchange.asmx</value>
            </setting>
            <setting name="ContentType" serializeAs="String">
                <value>text/comma-separated-values</value>
            </setting>
            <setting name="BodyType" serializeAs="String">
                <value>Text</value>
            </setting>
        </Emailer.UI.Properties.Settings>
    </userSettings>
</configuration>
